{% load static %}


{% block content %}

 <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">

    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&amp;display=swap">
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static "vendor/lightbox2/css/lightbox.min.css" %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static "css/style.default.css" id="theme-stylesheet" %}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <!-- tinymce/github-->
    <link rel="stylesheet" href="{% static "css/tinymce.css" 


{% endblock  %}


